<div class="background"></div>
<div class="page">
  <div [ngClass]="{'upperboxMobile': isMobile,'upperbox': !isMobile}">
    <h1>{{data.eventData.eventName}}</h1>
    <div class="cbox">
      <span>Constraints</span>
      <div class="checkbox-wrapper-17">
        <input type="checkbox" id="switch-17" [(ngModel)]="isConstraint"/><label for="switch-17"></label>
      </div>
    </div>
    <div>
      <button (click)="zoomLevel = zoomLevel * 1.2">Zoom In</button>
      <button (click)="zoomLevel = zoomLevel / 1.2">Zoom Out</button>
    </div>
    <div>
      <button (click)="export()" [disabled]="isExporting">DOWNLOAD DATA</button>
    </div>
  </div>
  <div class="calendar">
    <div class="scrollContainer">
      <div class="hourContainer">@for (h of hours; track h; let i = $index) {<div class="hour" [ngStyle]="{width: 60*zoomLevel + 'px'}">{{ (i + 1) % 24 }}:00</div>}</div>          
                                <div class="rowContainer" [ngStyle]="{width: 60*zoomLevel*hours.length + 'px', top: 0 + 'px'}"><div class="rowName" [ngStyle]="{width: rowWidth + 'px'}"><input class="filterInput" placeholder="Filter name" [(ngModel)]="participantFilter"><div class="resizer" (mousedown)="startResize($event)" (touchstart)="startResize($event)"></div></div></div>
                                 @for (par of getParticipants(); track par; let m = $index){<div class="rowContainer" [ngStyle]="{width: 60*zoomLevel*hours.length + 'px',
                                                                                                                                       top: 40 + 40*m + 'px'}">
                                      @for (tz of getTimeZonesByParticipant(par.participantId); track tz; let n = $index) {<div class="range" [ngStyle]="{width: (tz.endTime-tz.startTime)*zoomLevel + 'px',
                                                                                                                              left: (tz.startTime*zoomLevel) + 'px',
                                                                                                                              'background-color': getColorForId(tz.eventTypeId)}"
                                                                                                                              (click)="openInfo(tz.scheduleId)">{{getEventTypeNameByID(tz.eventTypeId)}}</div>}
                                      @for (tz of getConstraintsByParticipant(par.participantId); track tz; let n = $index) {<div *ngIf="isConstraint" class="constraintRange" [ngStyle]="{width: (getNumberFromDate(tz.endTime) - getNumberFromDate(tz.startTime)) * zoomLevel + 'px',
                                                                                                                              left: (getNumberFromDate(tz.startTime) * zoomLevel) + 'px'}"></div>}
                                    <div #box class="rowName" [ngStyle]="{width: rowWidth + 'px'}"><span>{{getParticipantNameByID(par.participantId) + getGroupName(par.participantId)}}</span><div class="resizer" (mousedown)="startResize($event)" (touchstart)="startResize($event)"></div></div></div>}                                                                                                            
    </div>
  </div>
  <div class="calendar">
    <div class="scrollContainer">
      <div class="hourContainer">@for (h of hours; track h; let i = $index) {<div class="hour" [ngStyle]="{width: 60*zoomLevel + 'px'}">{{ (i + 1) % 24 }}:00</div>}</div>          
                                <div class="rowContainer" [ngStyle]="{width: 60*zoomLevel*hours.length + 'px', top: 0 + 'px'}"><div class="rowName" [ngStyle]="{width: rowWidth2 + 'px'}"><input class="filterInput" placeholder="Filter name" [(ngModel)]="locationFilter" (ngModelChange)="refreshData()"><div class="resizer" (mousedown)="startResize2($event)" (touchstart)="startResize2($event)"></div></div></div>
                                 @for (loc of locRows; track loc; let m = $index){<div class="rowContainer" [ngStyle]="{width: 60*zoomLevel*hours.length + 'px',
                                                                                                                                  top: 40 + 40*m + 'px'}">
                                      @for (tz of getTimeZonesByLocation(loc.locationId,loc.slot); track tz; let n = $index) {<div class="range" [ngStyle]="{width: (tz.endTime-tz.startTime)*zoomLevel + 'px',
                                                                                                                              left: (tz.startTime*zoomLevel) + 'px',
                                                                                                                              'background-color': getColorForId(tz.eventTypeId)}"
                                                                                                                              (click)="openInfo(tz.scheduleId)">{{getEventTypeNameByID(tz.eventTypeId)}}</div>}
                                      @for (tz of getConstraintsByParticipant(loc.locationId); track tz; let n = $index) {<div *ngIf="isConstraint" class="constraintRange" [ngStyle]="{width: (getNumberFromDate(tz.endTime) - getNumberFromDate(tz.startTime)) * zoomLevel + 'px',
                                                                                                                              left: (getNumberFromDate(tz.startTime) * zoomLevel) + 'px'}"></div>}
                                    <div #box class="rowName" [ngStyle]="{width: rowWidth2 + 'px'}"><span>{{loc.title}}</span><div class="resizer" (mousedown)="startResize2($event)" (touchstart)="startResize2($event)"></div></div></div>}                                                                                                            
    </div>
  </div>
</div>

