<div class="page">
  <div class="upperbox">
    <h1>{{data.eventData.eventName}}</h1>
    <div class="cbox">
      <span>Constraints</span>
      <div class="checkbox-wrapper-17">
        <input type="checkbox" id="switch-17" [(ngModel)]="isConstraint"/><label for="switch-17"></label>
      </div>
    </div>
    <div>
      <button (click)="zoomLevel = zoomLevel * 1.2">Zoom In</button>
      <button (click)="zoomLevel = zoomLevel / 1.2">Zoom Out</button>
    </div>
    <div>
      <button (click)="export()" [disabled]="isExporting">DOWNLOAD DATA</button>
    </div>
  </div>
  <h2>By Competitor</h2>
  <div #box1 class="schedule-container" (scroll)="syncScroll('box1')">
    <!-- Bal oldali résztvevő nevek -->
    <div class="leftbox" [ngStyle]="{height: totalByCompetitorHeight + 'px'}">
      <div class="row-label info">Competitors</div>
      @for (participant of data.participants; track participant; let i = $index) {
        <div
          class="row-label"
          [ngStyle]="{
            height: eventHeight + 'px',
          }">
          {{ participant.participantName }}
        </div>
      }
    </div>

    <!-- Jobb oldali események -->
    <div class="rightbox">
      <!-- Háttér csíkok résztvevőnként -->
      @for (participant of data.participants; track participant; let i = $index) {
        <div
          class="row-background"
          [ngStyle]="{
            top: (i * eventHeight + 45) + 'px',
            height: eventHeight + 'px',
            'background-color': 'white',
            'opacity': i % 2 === 0 ? '5%' : '0%',
            width: 100 * zoomLevel * hours.length/24 + '%',
            position: 'absolute'
          }">
        </div>
      }
      @for (hour of hours; track hour) {
        <div
          class="time-slot"
          [ngStyle]="{
            left: (((hour*60 - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            width: ((60 / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            height: totalByCompetitorHeight + 'px'
          }">
          <span class="time-label">
            {{ getDateWithPlusDays(data.eventData.startDate, hour) | date:'yyyy.MM.dd' }}<br>
            {{ hour % 24 }}:00
          </span>
        </div>
      }

      
      @for (participant of data.participants; track participant; let i = $index) {
        @for (range of getTimeZonesForParticipant(participant.participantId); track range) {
          <div
            class="range"
            [ngStyle]="{
              top: (i * eventHeight + 45) + 'px',
              left: ((((range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
              width: (((range.endTime) - (range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
              'background-color': getEventTypeColor(range.eventTypeId)
            }"
            (click)="openInfo(range.scheduleId)">
            {{ getEventTypeName(range.eventTypeId ) }}
          </div>
        }
        @if (isConstraint) {
          <div>
            @for (range of getTimeZonesForConstraint(participant.participantId); track range) {
              <div
                class="rangeConstraint"
              [ngStyle]="{
                top: (i * eventHeight + 45) + 'px',
                left: (((getNumberFromDate(range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
                width: ((((getNumberFromDate(range.endTime) > hours.length*60 ? hours.length*60 : getNumberFromDate(range.endTime)) ?? 0) - getNumberFromDate(range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
              }">
              </div>
            }
          </div>
        }
      }
    </div>
  </div>

  <h2>By EventType</h2>

  <div #box2 class="schedule-container" (scroll)="syncScroll('box2')">
    <!-- Bal oldal -->
    <div class="leftbox" [ngStyle]="{height: totalByEventTypeHeight + 'px'}">
      <div class="row-label info" [ngStyle]="{ height: laneHeight + 'px' }">EventTypes</div>

      @for (et of data.eventTypes; track et; let etIndex = $index) {
        <div>
          <!-- EventType cím sor -->
          <div class="eventtype-label row-label"
            (click)="toggleEventType(et.eventTypeId!)"
            [ngStyle]="{ height: laneHeight + 'px', cursor:'pointer' }">
            <input type="color" [(ngModel)]="eventTypeColorMap[et.eventTypeId!]"> <span>{{ et.typeName }}</span>
            <span style="margin-left:5px">{{ expandedEventTypes[et.eventTypeId!] ? '▼' : '▶' }}</span>
          </div>
          <!-- Lane-ek csak ha kibontva -->
          @if (expandedEventTypes[et.eventTypeId!]) {
            <div>
              @for (lane of lanesByEventType[et.eventTypeId!] || []; track lane; let idx = $index) {
                <div
                  class="row-label"
                  [ngStyle]="{ height: laneHeight + 'px', 'background-color': 'white', 'opacity': idx % 2 === 0 ? '5%' : '0%'}">
                </div>
              }
            </div>
          }
        </div>
      }
    </div>

    <!-- Jobb oldal -->
    <div class="rightbox">
      <div class="bakcgorund-lines">
        <div class="row-label info" [ngStyle]="{ height: laneHeight + 'px' }"></div>
        @for (et of data.eventTypes; track et; let etIndex = $index) {
          <div>
            <!-- EventType cím sor -->
            <div class="eventtype-label row-label"
              (click)="toggleEventType(et.eventTypeId!)"
                [ngStyle]="{ height: laneHeight + 'px', 
                    width: 100 * zoomLevel + '%',}">
            </div>
            <!-- Lane-ek csak ha kibontva -->
            @if (expandedEventTypes[et.eventTypeId!]) {
              <div>
                @for (lane of lanesByEventType[et.eventTypeId!] || []; track lane; let idx = $index) {
                  <div
                    class="row-label"
                  [ngStyle]="{ height: laneHeight + 'px',
                    'background-color': 'white',
                    'opacity': idx % 2 === 0 ? '5%' : '0%',
                    width: 100 * zoomLevel * hours.length/24 + '%',}">
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
      <!-- EventType range-ek mindig láthatóak -->
      @for (et of data.eventTypes; track et; let etIndex = $index) {
        <div class="range eventtype-range"
              [ngStyle]="{
                top: getEventTypeRangeTop(et.eventTypeId!) + 22 + 'px',
                left: (((getEventTypeRange(et.eventTypeId!).start - startOfDay) / (endOfDay - startOfDay) * 100 * zoomLevel)) + '%',
                width: (((getEventTypeRange(et.eventTypeId!).end - getEventTypeRange(et.eventTypeId!).start) / (endOfDay - startOfDay) * 100 * zoomLevel)) + '%',
                height: laneHeight - 2 + 'px',
                'background-color': getEventTypeColor(et.eventTypeId!),
                'position': 'absolute'
              }">
          {{ getEventTypeName(et.eventTypeId) }} -
          {{ getLocationName(et.eventTypeId!) }}
        </div>
        @if (isConstraint) {
          <div>
            @for (range of getTimeZonesForConstraint(et.eventTypeId!); track range) {
              <div
                class="rangeConstraint"
              [ngStyle]="{
                top: getEventTypeRangeTop(et.eventTypeId!) + 22 + 'px',
                left: (((getNumberFromDate(range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
                width: ((((getNumberFromDate(range.endTime) > hours.length*60 ? hours.length*60 : getNumberFromDate(range.endTime)) ?? 0) - getNumberFromDate(range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
              }">
              </div>
            }
          </div>
        }
        <!-- Lane-ek és események csak kibontott EventType esetén -->
        @if (expandedEventTypes[et.eventTypeId!]) {
          <div>
            @for (lane of lanesByEventType[et.eventTypeId!] || []; track lane; let laneIndex = $index) {
              @for (event of lane.events; track event) {
                <div
                  class="range"
                [ngStyle]="{
                  top: getLaneTop(et.eventTypeId!, laneIndex) + 45 + 'px',
                  left: (((event.startTime) - startOfDay) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  width: (((event.endTime) - (event.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  height: (laneHeight - 2) + 'px',
                  'background-color': getEventTypeColor(et.eventTypeId),
                }"
                  (click)="openInfo(event.scheduleId)">
                  {{ getParticipantName(event.participantId) }}<br>
                </div>
              }
              @if (isConstraint) {
                <div>
                  @for (range of getTimeZonesForConstraint(et.eventTypeId!); track range) {
                    <div
                      class="rangeConstraint"
                  [ngStyle]="{
                    top: getLaneTop(et.eventTypeId!, laneIndex) + 45 + 'px',
                    left: (((getNumberFromDate(range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
                    width: ((((getNumberFromDate(range.endTime) > hours.length*60 ? hours.length*60 : getNumberFromDate(range.endTime)) ?? 0) - getNumberFromDate(range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  }">
                    </div>
                  }
                </div>
              }
            }
          </div>
        }
      }

      <!-- Időskála órák -->
      @for (hour of hours; track hour) {
        <div
          class="time-slot"
          [ngStyle]="{
            left: (((hour*60 - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            width: ((60 / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            height: totalByEventTypeHeight + 'px'
          }">
          <span class="time-label">
            {{ getDateWithPlusDays(data.eventData.startDate, hour) | date:'yyyy.MM.dd' }}<br>
            {{ hour % 24 }}:00
          </span>
        </div>
      }
    </div>
  </div>

  <h2>By Location</h2>

  <div #box3 class="schedule-container" (scroll)="syncScroll('box3')">
    <!-- Bal oldal -->
    <div class="leftbox" [ngStyle]="{height: totalByLocationHeight + 'px'}">
      <div class="row-label info" [ngStyle]="{ height: laneHeight + 'px' }">EventTypes</div>

      @for (location of data.locations; track location; let locIndex = $index) {
        <div>
          <!-- EventType cím sor -->
          <div class="eventtype-label row-label"
            (click)="toggleLocation(location.locationId!)"
            [ngStyle]="{ height: laneHeight + 'px', cursor:'pointer' }">
            <input type="color" [(ngModel)]="eventTypeColorMap[location.locationId!]">
            <span>{{ location.locationName }}</span>
            <span style="margin-left:5px">{{ expandedLocations[location.locationId!] ? '▼' : '▶' }}</span>
          </div>
          <!-- Lane-ek csak ha kibontva -->
          @if (expandedLocations[location.locationId!]) {
            <div>
              @for (lane of locationsLanes[location.locationId!] || []; track lane; let idx = $index) {
                <div
                  class="row-label"
                  [ngStyle]="{ height: laneHeight + 'px'}">
                  <span>{{idx+1}}</span>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>

    <!-- Jobb oldal -->
    <div class="rightbox">
      <div class="bakcgorund-lines">
        <div class="row-label info" [ngStyle]="{ height: laneHeight + 'px' }"></div>
        @for (location of data.locations; track location; let locIndex = $index) {
          <div>
            <!-- EventType cím sor -->
            <div class="eventtype-label row-label"
                [ngStyle]="{ height: laneHeight + 'px', 
                    width: 100 * zoomLevel + '%',}">
            </div>
            <!-- Lane-ek csak ha kibontva -->
            @if (expandedLocations[location.locationId!]) {
              <div>
                @for (lane of locationsLanes[location.locationId!] || []; track lane; let idx = $index) {
                  <div
                    class="row-label"
                  [ngStyle]="{ height: laneHeight + 'px',
                    'background-color': 'white',
                    'opacity': idx % 2 === 0 ? '5%' : '0%',
                    width: 100 * zoomLevel * hours.length/24 + '%',}">
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
      <!-- EventType range-ek mindig láthatóak -->
      @for (location of data.locations; track location; let locIndex = $index) {
        @if (hasRange(location.locationId)){
          <div class="range eventtype-range"
                [ngStyle]="{
                  top: getLocationRangeTop(location.locationId!) + 'px',
                  left: (((getLocationRange(location.locationId!).start - startOfDay) / (endOfDay - startOfDay) * 100 * zoomLevel)) + '%',
                  width: (((getLocationRange(location.locationId!).end - getLocationRange(location.locationId!).start) / (endOfDay - startOfDay) * 100 * zoomLevel)) + '%',
                  height: laneHeight - 2 + 'px',
                  'background-color': getEventTypeColor(location.locationId!),
                  'position': 'absolute'
                }">
            {{ getLocationName2(location.locationId!) }}
          </div>
        }
        @if (isConstraint) {
          <div>
            @for (range of getTimeZonesForConstraint(location.locationId!); track range) {
              <div
                class="rangeConstraint"
              [ngStyle]="{
                top: getLocationRangeTop(location.locationId!) + 'px',
                left: (((getNumberFromDate(range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
                width: ((((getNumberFromDate(range.endTime) > hours.length*60 ? hours.length*60 : getNumberFromDate(range.endTime)) ?? 0) - getNumberFromDate(range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
              }">
              </div>
            }
          </div>
        }
        <!-- Lane-ek és események csak kibontott EventType esetén -->
        @if (expandedLocations[location.locationId!]) {
          <div>
            @for (lane of locationsLanes[location.locationId!] || []; track lane; let laneIndex = $index) {
              @for (event of lane.events; track event) {
                <div
                  class="range"
                [ngStyle]="{
                  top: getLocationLaneTop(location.locationId!,event.slot) + 'px',
                  left: (((event.startTime) - startOfDay) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  width: (((event.endTime) - (event.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  height: (laneHeight - 2) + 'px',
                  'background-color': getEventTypeColor(event.eventTypeId!),
                }"
                  (click)="openInfo(event.scheduleId)">
                  {{ getParticipantName(event.participantId) }}<br>
                </div>
              }
              @if (isConstraint) {
                <div>
                  @for (range of getTimeZonesForConstraint(location.locationId!); track range) {
                    <div
                      class="rangeConstraint"
                  [ngStyle]="{
                    top: getLocationLaneTop(location.locationId!, laneIndex) + laneHeight + 'px',
                    left: (((getNumberFromDate(range.startTime) - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
                    width: ((((getNumberFromDate(range.endTime) > hours.length*60 ? hours.length*60 : getNumberFromDate(range.endTime)) ?? 0) - getNumberFromDate(range.startTime)) / (endOfDay - startOfDay) * 100 * zoomLevel) + '%',
                  }">
                    </div>
                  }
                </div>
              }
            }
          </div>
        }
      }

      <!-- Időskála órák -->
      @for (hour of hours; track hour) {
        <div
          class="time-slot"
          [ngStyle]="{
            left: (((hour*60 - startOfDay) / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            width: ((60 / (endOfDay - startOfDay) * 100) * zoomLevel) + '%',
            height: totalByLocationHeight + 'px'
          }">
          <span class="time-label">
            {{ getDateWithPlusDays(data.eventData.startDate, hour) | date:'yyyy.MM.dd' }}<br>
            {{ hour % 24 }}:00
          </span>
        </div>
      }
    </div>
  </div>
</div>
