.alert-container {
  position: fixed;
  top: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  margin: 0 auto 0 auto;
  left: 50%;          
  transform: translateX(-50%)
}

.alert{
  display: inline-block; 
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  white-space: nowrap;  
  opacity: 0;
  animation: fadeInOut 3s forwards;
  transition: .2s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.alert.error .material-icons {
  color: red;
  margin-left: 40px;
  vertical-align: middle;
  transform: scale(3);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}