.box{
    padding: 50px;
    background-image: linear-gradient(to bottom right, #0C7779, #249E94);
    color:white;
    text-align: center;
}

.ListItem > select{
    width: 200px;
}

button {
  appearance: none;
  background-color: #249E94;
  border: 1px solid rgba(224, 0, 224, 0.192);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  filter: brightness(1.1);
}

button:focus {
  box-shadow: rgba(9, 93, 119, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #b6a1b3;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #249E94;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}