.background{
  font-family: "Inter", "Segoe UI", sans-serif;
  background: 
  radial-gradient(circle at 20% 30%, #be29ec33, transparent 40%),
  radial-gradient(circle at 80% 20%, #80008048, transparent 40%),
  radial-gradient(circle at 50% 80%, rgba(228, 95, 18, 0.12), transparent 40%),
  #0f172a;
  position: absolute;
  left: 0;
  right: 0;
  color:white;
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  text-align: left;
}

.box{
    list-style: none;
    gap: 16px;
    border: rgba(255, 255, 255, 0.37), 1px, solid;
    border-radius: 30px;
    margin: 5%;
    margin-top: 30px;
    overflow: hidden;
}

.header{
  margin-top: 60px;
  text-align: left;
  margin-left: 5%;
}

.headerMobile{
  margin-top: 60px;
  text-align: center;
}

.item{
    width: 100%;
    background-color: rgba(224, 224, 224, 0.075);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.08);
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
}

.itemMobile{
    width: 100%;
    background-color: rgba(224, 224, 224, 0.075);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.08);
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;  
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
}


.item:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

h2{
    color: white;
}


button {
  appearance: none;
  background: linear-gradient(135deg, #7b5cff, #5d3df5);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  filter: brightness(1.1);
}

button:focus {
  box-shadow: rgba(9, 93, 119, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #b6a1b3;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #5626b1;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


