<div class="background">
  <div class="header" [ngClass]="{'headerMobile': isMobile,'header': !isMobile}">
    <button (click)="AddEvent()">Add New Event</button>
    <button (click)="GoToWizard()">Use WIZARD</button>
  </div>
  <div class="box">
    @for (item of events; track item) {
      <div [ngClass]="{'itemMobile': isMobile,'item': !isMobile}" (click)="GoToEvent(item.eventId)">
        {{ item.eventName }}
        <div>
          <button (click)="GoToSolution(item.eventId);">SOLUTION</button>
          <button (click)="DeleteEvent(item.eventId, $event);">DELETE</button>
        </div>
      </div>
    }
  </div>
</div>

