.background{
    font-family: "Inter", "Segoe UI", sans-serif;
    background-image: linear-gradient(to bottom right, #0C1443, #1C1853);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    width: 100%;
    padding-top: 100px;
}

.box{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    margin-top: 30px;
}

.item{
    width: calc(30% - 11px); 
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
    height: 100px;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.item:hover{
    transform: scale(1.05);
}

h2{
    color: white;
}


button {
  appearance: none;
  background-color: #2E145D;
  border: 1px solid #5626b1;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  filter: brightness(1.1);
}

button:focus {
  box-shadow: rgba(9, 93, 119, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #b6a1b3;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #5626b1;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


