#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #0C1443, #1C1853);
  z-index: 9999;
  pointer-events: none;
}

#splash .logo {
  width: 120px;
  margin-bottom: 20px;
}

#splash .loader {
  width: 100px;
  height: 100px;
  border: 10px solid #1C1853;
  border-top-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.custom-dialog-radius .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
}

html, body {
  height: 100%;
  margin: 0;
}

:host {
  display: block;
  min-height: 100%;
}

.custom-dialog-container .mat-mdc-dialog-container {
  border: 2px solid white;
  border-radius: 50px;
  overflow: hidden;
}