

:host { max-width: 1280px; text-align: center; }
th, td { padding-left: 1rem; padding-right: 1rem; }
table { margin: 0 auto; }
.upperbox{ background-color: white; left: 0; right: 0; height: 60px; top:0; z-index: 100; font-family: Verdana, Geneva, Tahoma, sans-serif; position: sticky; box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);}
.right{ float: right; width: 15%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 20px; color: black; background-color: white; border-left: 1px black solid; }
.left{ float: right; width: 20%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 20px; color: black; background-color: white; font-size: 25px; }
.button:hover{ background-color: rgb(226, 226, 226); }
.right:hover{ background-color: rgb(226, 226, 226); }

.button{
    float: left;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    background-color: white;
    border-right: 1px black solid;
}