.background{
  font-family: "Inter", "Segoe UI", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  color:white;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 150;
  height: 100%;
}

.background2{
  background: 
    radial-gradient(circle at 20% 30%, #be29ec33, transparent 40%),
    radial-gradient(circle at 80% 20%, #80008048, transparent 40%),
    radial-gradient(circle at 50% 80%, rgba(228, 95, 18, 0.12), transparent 40%),
    #0f172a;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
}


.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  z-index: 110;
  height: 100%;
}


.title{
  text-align: center;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  font-size: 35px;
  margin: 0 auto 30px 0;
}

.auth-card {
  background: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  transform: 1s;
}

.auth-cardMobile {
  background: #ffffff;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  transform: 1s;
}

.form-container{
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  font-size: 30px;
  margin: 0 auto 50px 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 5px;
  font-weight: 600;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box; 
  font-size: 16px;
  margin-top: 5px;
}

input:focus {
  outline: none;
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.strength-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 0px;
  overflow: hidden;
  margin: 5px auto 0 auto;
}

.strength-level {
  height: 100%;
  width: 0%;
  transition: width 0.3s, background-color 0.3s;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #7b5cff, #5d3df5);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #8a72f5, #7359f7);
}

.toggle-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.toggle-text span {
  color: #914ae2;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}


@media (max-width: 480px) {
  .auth-card {
    padding: 25px;
    box-shadow: none;
  }
}