.background{
    font-family: "Inter", "Segoe UI", sans-serif;
    background-image: linear-gradient(to bottom right, #0C1443, #1C1853);
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    color:white;
    top: 0;
    position: absolute;
    width: 100%;
}

h2{
  margin-top: 0px;
  max-width: 1000px;
}

.upperbox{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: solid 1px white;
  height: 60px;
  margin-bottom: 80px;
}

.ListBox{
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.FirstListBox{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

.right{
  width: 50%;
  height: 100%;
}

.left{
  width: 50%;
  height: 100%;
}

.more{
  background-color: rgba(0, 0, 0, 0.459);
  width: 50px;
  margin: 0 auto 0 auto;
  border: white 1px solid;
  letter-spacing: 10px;
  padding-left: 9px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.less{
  background-color: rgba(0, 0, 0, 0.459);
  width: 100px;
  margin: 0 auto 0 auto;
  border: white 1px solid;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.less:hover{
  filter: brightness(2);
  scale: 1.2;
  transition: 0.2s;
}

.more:hover{
  filter: brightness(2);
  scale: 1.2;
  transition: 0.2s;
}

.ListItem{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:gray;
  width: 200px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.212);
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.FirstListItem{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:gray;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.212);
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  text-align: right;
}

.FirstListItem > input {
  width: 30%;
  text-align: center;
}

.FirstListItem > input[type="number"]{
  width: 60%;
}

.FirstListItem > input[type="text"]{
  width: 60%;
}

.ListItem>div{
  margin: auto auto auto auto;
}

.wrong{
  border-color: red;
}

.dirty{
  border-color: rgb(194, 194, 39);
}

.good{
  border-color: rgb(0, 211, 0);
}

.loader {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #ccc;
  border-top-color: rgb(255, 25, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.boxHeader{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  height: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  margin-top: 60px;
}

.buttons{
  width: 30%;
  justify-content: center;
  align-items: center;
}

.title{
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 30%;
}

.Graph{
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 50px;
  padding: 20px;
  height: 250px;
  width: 250px;
  margin: 0 auto 50px auto;
  float: right;
}

.Graph > div{
  display: flex;
  justify-content: space-around;
}

.graphinputs{
  display: grid;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.pointBox{
  background-color: rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 20px;
}

.searchbar > div{
  margin-left: 10px;
  margin-right: 10px;
}

.pie {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 50%;
  filter: brightness(3);
  box-shadow: rgba(27, 31, 35, .1) 0 10px 0;
  border: solid white 2px;
}

button {
  appearance: none;
  background-color: #2E145D;
  border: 1px solid #5626b1;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  filter: brightness(1.1);
}

button:focus {
  box-shadow: rgba(9, 93, 119, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #b6a1b3;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #5626b1;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}







input{
  padding: 5px;
  border-radius: 20px;
  background-color: #5621b9;
  border: none;
  color: white;
  margin: 2px;
}

input:hover{
  filter: brightness(1.1);
}

select{
  padding: 5px;
  border-radius: 20px;
  background-color: #5621b9;
  border: none;
  color: white;
  margin: 2px;
}

::-webkit-calendar-picker-indicator {
filter: invert(1);
}


